
<div class="background-container">

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 form-container">
            <h1 class="text-center">Crear Cuenta</h1>
            <form [formGroup]="form" (ngSubmit)="Registrarse()" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                        <input type="text" id="nombre" class="form-control" formControlName="nombre"
                            placeholder="Ingrese su nombre">
                    </div>
                    <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched"
                        class="text-danger">
                        Nombre es requerido.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                        <input type="text" id="apellido" class="form-control" formControlName="apellido"
                            placeholder="Ingrese su apellido">
                    </div>
                    <div *ngIf="form.get('apellido')?.invalid && form.get('apellido')?.touched"
                        class="text-danger">
                        Apellido es requerido.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="cedula" class="form-label">Cédula:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-credit-card"></i></span>
                        <input type="text" id="cedula" class="form-control" formControlName="cedula" maxlength="10" minlength="10" required pattern="[0-9]+" placeholder="Ingrese su CI">
                    </div>
                    <div *ngIf="form.get('cedula')?.invalid && form.get('cedula')?.touched"
                        class="text-danger">
                        Cédula es requerida.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                        <input type="email" id="email" class="form-control" formControlName="email"
                            placeholder="Ingrese su Email">
                    </div>
                    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
                        class="text-danger">
                        Email es requerido y debe ser válido.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <input type="password" id="password" class="form-control" [type]="mostrarPass ? 'text' : 'password'" formControlName="password"
                            placeholder="Ingrese su contraseña">
                            <button type="button" class="btn btn-outline-secondary" (click)="mostrarContrasena()" aria-label="Mostrar/ocultar password">
                                <i *ngIf="!mostrarPass" class="bi bi-eye"></i>
                                <i *ngIf="mostrarPass" class="bi bi-eye-slash"></i>
                              </button>
                    </div>
                    <small class="form-text text-muted">
                        La clave debe tener como mínimo:
                        <ul>
                            <li>8 caracteres de longitud.</li>
                            <li>1 caracter en mayúscula.</li>
                            <li>2 caracteres en minúsculas.</li>
                            <li>2 números.</li>
                        </ul>
                    </small>
                    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
                        class="text-danger">
                        <div *ngIf="form.get('password')?.errors?.['required']">Contraseña es requerida.</div>
                        <div *ngIf="form.get('password')?.errors?.['minlength']">Contraseña debe tener al menos 8
                            caracteres.</div>
                        <div *ngIf="form.get('password')?.errors?.['pattern']">
                            Contraseña debe cumplir con los requisitos mínimos.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirmarPassword" class="form-label">Confirmar Contraseña:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <input type="password" id="confirmarPassword" class="form-control"
                            formControlName="confirmarPassword" [type]="mostrarPass ? 'text' : 'password'" placeholder="Ingrese su confirmación de contraseña">
                            <button type="button" class="btn btn-outline-secondary" (click)="mostrarContrasena()" aria-label="Mostrar/ocultar confirmarPassword">
                                <i *ngIf="!mostrarPass" class="bi bi-eye"></i>
                                <i *ngIf="mostrarPass" class="bi bi-eye-slash"></i>
                              </button>
                    </div>
                    <div *ngIf="form.get('confirmarPassword')?.invalid && form.get('confirmarPassword')?.touched || (form.get('password')?.value !== form.get('confirmarPassword')?.value && form.get('confirmarPassword')?.touched)"
                        class="text-danger">
                        Las contraseñas deben coincidir.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100"
                    [disabled]="form.invalid || form.get('password')?.value !== form.get('confirmarPassword')?.value">Registrarse</button>
            </form>
        </div>
    </div>
</div>
</div>
