
<div class="container-fluid min-vh-90 d-flex flex-column align-items-center justify-content-center bg-light text-center" style="background-image: url('https://static.vecteezy.com/system/resources/previews/006/388/781/non_2x/women-happy-with-shopping-on-mobile-pay-by-credit-card-shopping-online-in-an-online-store-on-a-website-or-mobile-application-concept-loves-shopping-design-for-sale-banner-digital-marketing-vector.jpg'); background-size: cover; background-position: center;">


  <br> <br> <br> 
  <div class="card shadow-lg custom-card">
    <div class="card-content">
      <div class="d-flex justify-content-center mb-4 card-img">
        <img src="https://as1.ftcdn.net/v2/jpg/03/87/75/06/1000_F_387750606_TOcojUlzE6QSlOZsU42JYbzZ0nsqe62y.jpg" alt="Teleshopping Logo" class="img-fluid" style="max-width: 200px; border-radius: 50%;">
      </div>
      <h1 class="display-4 text-center mb-4 card-title">¡Bienvenido a Teleshopping!</h1>
      <p class="lead text-center mb-4">Tu tienda en línea favorita.<br>¡Encuentra los mejores productos al mejor precio!</p>
    </div>
  </div>
  
  
  <br> <br>

</div>


  
